<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayanurlestari.lokasimaya">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //smartphone berdasarkan GPS langsung, sensor GPS untuk menangkap sinyal ke satelit
    //tujuannya mendapatkan akurasi yang tinggi sekitar 3km , untuk menentukan lokasinya dimana.
    //Waktu dapat data nya lama
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    //berdasarkan sinyal BTS, mendapatkan lokasinya sangat cepat. Akurasinya rendah sekitar 1 km
    //Waktu dapat datanya cepat

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lokasimaya">
    <activity android:name=".MainActivity"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:exported="true">
        //pengaturan tampilan dari aplikasi yang sedang berjalan
    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>